<h1 class="pt-24">Mes rendez-vous</h1>

<div class="col-6 offset-3">
  <div id="profil" class="tx-center mt-3">
    <h2>Mes renseignements personnels</h2>
    <p>Prénom: <%= @user.first_name %></p>
    <p>Nom: <%= @user.last_name %></p>
    <p>Adresse mail: <%= @user.email %></p>
    <p>Inscrit depuis le: <%= @user.created_at.strftime('%d/%m/%Y') %></p>
  </div>
</div>

<div class="row mt-5">
  <div class="col-6 ">
    <div class="tx-center border-right">
      <h2>Mes prochains rendez-vous</h2>
        <% if @pending_appointments.empty? %>
          <p>Vous n'avez pas de rendez-vous prévu</p>
          <%= link_to new_appointment_path do %>
            <div class="btn btn-basic" id="btn-rdv">
              <h3>Prendre rendez-vous</h3>
            </div>
          <% end %>
        <% else %>
          <% @pending_appointments.each do |appointment| %>
            <div class="card-app-pending mt-3">
              <p>Votre prochain rendez-vous est prévu
              <br>le <%= appointment.date.strftime('%d/%m/%Y')  %>
              <br>à <%= appointment.time.strftime('%Hh%M') %></p>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>

  <div class="col-6 tx-center">
    <h2>Mes rendez-vous passés</h2>
    <div class="card-checked mb-5">
    <% @checked_appointments.each do |appointment| %>
    <div class="card-app-checked mt-3">
      <p>Vous avez eu rendez-vous
      <br>le <%= appointment.date.strftime('%d/%m/%Y') %>
      <br>à <%= appointment.time.strftime('%Hh%M') %></p>
      <%= link_to user_appointment_path(@user, appointment), method: :delete do %>
 			  <i class="fa-solid fa-xmark"></i>
      <% end %>
    </div>
    <% end %>
    </div>
  </div>
</div>
