<h1 class="pt-24">Mes rendez-vous</h1>

<div class= d-flex>
  <div id="profil">
    <h2>Mes renseignements personnels</h2>
    <p><%= @user.first_name %></p>
    <p><%= @user.last_name %></p>
    <p><%= @user.email %></p>
  </div>
  <div>
    <h2>Mes prochains rendez-vous</h2>
    <% @pending_appointments.each do |appointment| %>
      <p>Votre prochain rendez-vous est prévu
      <br>le <%= appointment.date.strftime('%d/%m/%Y')  %>
      <br>à <%= appointment.time.strftime('%Hh%M') %></p>
    <% end %>
  </div>
</div>

<div>
  <h2>Mes rendez-vous passés</h2>
  <% @checked_appointments.each do |appointment| %>
    <p>Vous avez eu rendez-vous
    <br>le <%= appointment.date.strftime('%d/%m/%Y') %>
    <br>à <%= appointment.time.strftime('%Hh%M') %></p>
  <% end %>
</div>
