<div id="navbar" class="d-flex justify-content-between mt-5">
    <div id="left" class="d-flex">
      <%= link_to root_path do %>
        <i class="fa-solid fa-house pr-42"></i>
      <% end %>
      <%= link_to about_path do  %>
        <h3>A propos</h3>
      <% end %>
    </div>
    <div id="right" class="d-flex">
      <% if user_signed_in? %>
        <h3><%= link_to "Mes rendez-vous", user_path(current_user), class:'pr-42'%></h3>
        <h3><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %></h3>
      <% else %>
        <h3><%= link_to "Se connecter", new_user_session_path%></h3>
      <% end %>
    </div>
  </div>
